albumentations==2.0.4
evaluate==0.4.3
huggingface-hub==0.29.1
matplotlib==3.10.0
numpy==2.2.3
opencv-python-headless==4.11.0.86
pandas==2.2.3
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
timm==1.0.15
tokenizers==0.21.0
torch
torchaudio
torchvision
tqdm==4.67.1
transformers==4.49.0
